body {
  text-align: center;
  background-color: rgb(242, 211, 159);
}

button {
  height: 40px;
  width: max-content;
  font-size: 20px;
  cursor: pointer;
}

input {
  height: 40px;
  width: 280px;
  font-size: 20px;
}

div {
  margin-bottom: 10px;
}
